.Details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    min-height: 100vh;
    background-image: url("../../images/bg.jpg"); 
    .main{
        display: flex;
        width: 70%;
        max-height: 70%;
        background-color: #666; 
        img{
            max-width: 400px; 
        }
    }
    .extra {
        width: 100%;
        iframe{
            height: 100%;
            width: 100%;
        }
    }
}